[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
cenpy = "*"
osmnx = "*"
jupyterlab = "*"
cookiecutter = "*"
boto3 = "*"
descartes = "*"
scikit-learn = "*"
peartree = "*"

[dev-packages]

[requires]
python_version = "3.7"
