[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
geopandas = "*"
cenpy = "*"
osmnx = "*"
jupyterlab = "*"
cookiecutter = "*"
openpyxl = "*"
plotly = "*"
ipywidgets = "*"
kaleido = "*"
folium = "*"
boto3 = "*"
descartes = "*"
scikit-learn = "*"
peartree = "*"
pygeos = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
psycopg2 = "*"


[dev-packages]

[requires]
python_version = "3.7"
